@import url(grid.css);
@import url(http://fonts.useso.com/css?family=Open+Sans:400);
@import url(http://fonts.useso.com/css?family=Open+Sans:700);
@import url(http://fonts.useso.com/css?family=Open+Sans:300);
@import url(http://fonts.useso.com/css?family=Pathway+Gothic+One);
*{
	font: inherit;
	font-size: 100%;
	vertical-align: top;
	margin: 0;
	padding: 0;
	transition: 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #171616;
  font-family: 'Pathway Gothic One', sans-serif;
}
h2 {
	font-size: 48px;
	line-height: 48px;
	letter-spacing: -3px;
	word-spacing: 7px;
	text-align: center;
}
h3 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 22px;
  padding-top: 80px;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a.more {
	width:  30%;
	float: right;
	padding:10px;
	color: white;
	display: block;
	position: relative;
	text-align: center;
	font-size: 32px;
	background-color: #b01c20;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #565454;
	transition-duration: 2s;
}
a.more:hover {
	transform: rotateX(360deg);
	-webkit-transform: rotateX(360deg);
	border-color: black;
	color: black;
}
body{
	margin: 0 auto;
}
div.line {
	height: 1px;
	background-color: #000000;
	width: 80%;
	margin: 40px auto;
}
/*  header    */
header{
	color: #E6E5E5;
	position: relative;
	background-image: url("../images/slider.jpg");
}
header .header_top{
	padding: 190px 0 190px;
}
header h1{
	text-transform: uppercase;
	 color: #ffffff;
	 z-index: 999;
	 font-size: 60px;
	 line-height: 59px;
	 margin-bottom: 8px;
	 letter-spacing: normal;
}
header h1 a {
	 display: block;
}
header .nav_container{
	background-color: #434052;
}
h1.logo{
	float: left;
	font-size: 36px;
	line-height: 33px;
	padding-top: 7px;
}
.navigation {
	position: relative;
	padding: 5px 0 0;
	float: right;
	font-family: 'Dosis', sans-serif;
}
.navigation nav {
	position: relative;
}
.navigation ul.main_nav{
	overflow: hidden;
	position: relative;
	list-style: none;
	font-family: 'Dosis', sans-serif;
}
.main_nav li {
	float: left;
	list-style: none;
	font-size: 24px;
	line-height: 48px;
	margin-left: 30px;
}
.main_nav li  a:hover,.main_nav li.current{
	color: #E7DE1A;
}
@media only screen and (max-width: 767px) {
.navigation {
	float: none;
	clear: both;
	margin: 0;
	width: 100%;
}
.navigation nav {
    	border: none !important;
    	float: none !important;
    	font: 12px/15px Arial, Helvetica, sans-serif;
    	text-transform: uppercase;
    	color: #927c67;
    	margin: 0 auto;
    	padding-left: 0 !important;
 }
 .navigation nav ul {
    	border: none;
 }
 .main_nav {
    	display: none !important;
    	float: none;
 }
 .select-menu {
    	font: 12px/15px Arial, Helvetica, sans-serif;
    	color: #202020;
    	width: 100%;
    	margin: 0 auto;
    	float: none;
    	outline: none;
    	display: block !important;
    	border: 2px solid #fff ;
 }
 header .header_top {
 	font-size: 18px;
 	line-height: 21px;
 	padding: 20px 0;
 }
 header .header_top h1 {
 	margin-bottom: 0;
 	font-size: 30px;
 	line-height: 32px;
  }
 header h1 {
 	position: static !important;
 }
}
@media only screen and (min-width: 979px) {
	.isStuck {
		background-color: #000 !important;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
	}
}
/*content*/
div#content {
	margin-bottom: 50px;
}
/*img*/
div.shuffle-me {
	margin-bottom: 34px;
}
img {
	width: 100%;
	height: 100%;
}
div.images {
	box-shadow: 5px -6px 2px rgba(0,0,0,0.15);
}
h2.recent_photos {
	margin: 60px 0 40px;
}
div.recent_pic_big {
	height: 520px;
}
div.recent_pic_sml {
	height: 243px;
}
@media only screen and (max-width: 769px) {
	div.recent_pic_big {
		height:  250px;
	}
	a.more {
		width: 94%;
	}
}
/*toTop*/
a#toTop {
	display: none;
	position: fixed;
	bottom: 40px;
	left: 90%;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: #D6C8C8;
}
a#toTop:hover {
	background-color: #060000;
}
/*footer*/
footer {
	background-color: #323045;
	text-align: center;
}
footer *{
	color: #ffffff;
}
#footer h2 {
	padding-top: 80px;
	margin-bottom: 25px;
}
#footer .blog_address {
	font-size: 25px;
	border: 1px solid #ffffff;
	height: 30px;
	line-height: 30px;
	padding: 10px 100px;
}
#footer .blog_address:hover {
	background-color: #fff;
	color: #323045;
	transition-duration: 2s;
}
#footer .update{
	margin:40px;
	color: #6a6a6a;
}