#list {
    padding: 0;
    margin-top: 20px;
    text-align: center;
    font-size:14px;
    background: #fff;
    width: 910px;
    height: 38px;
    line-height: 38px;
}
#list td{
    height: 30px;
    line-height: 30px;
}
#list th{
    font-size: 16px;
}