
.content .boardList .boardTime{
    float: right;
    padding-right: 15px;
}

.content .boardList .submit{
    margin-top: -240px;
}
.content .boardList .cancel{
    margin-top: -180px;
    background-color: #808080;
}
.boardList .listTitle textarea {
    resize: none;
    height: 45px;
    width: 300px;
}
.boardList .listContent textarea {
    resize: none;
    height: 300px;
    width: 300px;
}
.content .boardList .publish{
    margin-top: -240px;
}
