.content .query{
    position: relative;
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 60px;
    clear: both;
    width: 910px;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
}
.content .query span{
    position: relative;
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: 900;
    font:bold;
    color: #0858a2;
    font-size: 14px;
}
.content .query select{
    position: relative;
    float: left;
    display: block;
    height: 23px;
    margin: 14px 20px;
}
.content .query input{
    position: relative;
    float: left;
    display: block;
    margin: 13px 10px;
    width: 520px;
    height: 25px;
}
.content .query #queryButton  {
    position: relative;
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    width: 80px;
    height: 35px;
    background-color: #1fbba6;
    border: none;
    border-radius: 3px;
    background-image: url('../images/peopleQuery.png');
    background-repeat: no-repeat;
    background-position: 7px 8px;
    text-align: center;
}
#queryButton span {
    left: 15px;
    top: -7px;
    font:bold;
    color: #fff;
    font-size: 14px;
}
.content .branchInfo {
    position: relative;
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 60px;
    clear: both;
    width: 910px;
    height: 150px;
}
.branchInfo {
    color: #0858a2;
    font-size: 14px;
}
.branchInfo p{
    padding: 2px 20px;
}
.branchInfo span{
    color: #000000;
}
.branchInfo a span{
    color: #fff;
}
.branchInfo #checkBranchButton  {
    position: relative;
    float: right;
    display: block;
    margin-top: 10px;
    margin-right: 40px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    background-color: #0858a2;
    border: none;
    border-radius: 3px;
    text-align: center;
}
.content .peopleWrapper{
    position: relative;
    display: block;
    width: 1200px;
    height: 50px;
}
.content .peopleList{
    position: relative;
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 60px;
    width: 280px;
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
}
.content .peopleList .listTitle{
    display: block;
    width: 260px;
    height: 50px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 20px;
    padding-top: 5px;
    color: #0858a2;
}
.content .peopleList .listContent{
    display: block;
    width: 240px;
    height: 170px;
    padding-left: 20px;
    padding-top: 15px;
}
.content .peopleList .checkPeopleButton{
    position: relative;
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    background-color: #1fbba6;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
}
.content .passwd_salesmanInfo {
    position: relative;
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 60px;
    clear: both;
    width: 910px;
    height: 150px;
}
.passwd_salesmanInfo {
    color: #0858a2;
    font-size: 14px;
}
.passwd_salesmanInfo p{
    padding: 2px 20px;
}
.passwd_salesmanInfo span{
    color: #000000;
}
.passwd_salesmanInfo a span{
    color: #fff;
}
.passwd_salesmanInfo input{
    position: relative;
    left: 0px;
    top: 0px;
    width: 209px;
    height: 25px;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}