a.myAccount {
    background-image: url('../images/myAccount_white.png');
    background-color: #0959a3;
    color: #ffffff !important;
}
/*我的账号-->我的信息*/
div.changeInf {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    color: #0a57a3;
}
div.changeInf p {
    line-height: 48px;
}
div.changeInf input {
    width: 210px;
    height: 32px;
}
div.changeInf input,div.changeInf textarea {
    margin-left: 10px;
}
div.changeInf span.xiugaiName {
    display: inline-block;
    width: 75px;
}
input.subShouquan ,input.cancle{
    cursor: pointer;
    position: relative;
    left: 40%;
    margin-top: 10px;
    padding: 11px 20px;
    color: #ffffff;
    font-size: 15px;
    background-color: #1fbba6;
    border: none;
    border-radius: 5px;
}
/*我的账号密码修改*/
div.passWord {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    color: #0a57a3;
}
div.passWord p {
    line-height: 48px;
}
div.passWord input {
    width: 210px;
    height: 32px;
}
div.passWord input {
    margin-left: 10px;
}
div.passWord span.passwordName {
    display: inline-block;
    width: 75px;
}
input.finashChange,input.reset {
    width: 120px !important;
    height: 44px !important;
    cursor: pointer;
    position: relative;
    left: 30%;
    margin-top: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #1fbba6;
    border: none;
    border-radius: 5px;
}
input.reset {
    left: 35%;
    background-color: #d6d9d9;
}