a.staffManage {
    background-image: url('../images/staffManage_white.png');
    background-color: #0959a3;
    color: #ffffff !important;
}
/*人员管理--区域管理*/
div.regDiv {
    position: relative;
    margin-top: 20px;
    color: #0a57a3;
}
div.regDiv>div{
    overflow: hidden;
    display: block;
    font-size: 14px;
    line-height: 30px;
}
div.regName {
    float: left;
    display: inline-block;
    width: 60px;
}
div.regContent {
    float: left;
    color: #000;
    margin-left: 5px;
    display: inline-block;
}
div.subsidiary {
    color: #000;
    width: 262px;
    background-color: #ffffff;
    display: inline-block !important;
    margin-left: 50px;
    margin-top: 30px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 3px #aaaaaa;
}
div.subsidiary:nth-child(3n-1) {
    margin-left: 0;
}
div.subsidiary p{
    padding-left: 25px;
}
p.companyName {
    color: #0a57a3;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #346e6e;
}
button.seeInform {
    margin: 15px 86px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    background-color: #1fbba6;
}
/*下级授权*/
div.shouQuan {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    color: #0a57a3;
}
div.shouQuan p {
    line-height: 48px;
}
div.shouQuan input {
    width: 210px;
    height: 32px;
}
div.shouQuan input,div.shouQuan textarea {
    margin-left: 10px;
}
div.shouQuan span.shouQuanName {
    display: inline-block;
    width: 75px;
}
button.subShouquan {
    cursor: pointer;
    position: relative;
    left: 40%;
    margin-top: 10px;
    padding: 11px 20px;
    color: #ffffff;
    font-size: 15px;
    background-color: #1fbba6;
    border: none;
    border-radius: 5px;
}
