a.staffManage {
    background-image: url('../images/staffManage_white.png');
    background-color: #0959a3;
    color: #ffffff !important;
}
div.companyDiv {
    position: relative;
    margin-top: 20px;
    color: #0a57a3;
}
div.companyDiv>div{
    overflow: hidden;
    display: block;
    font-size: 14px;
    line-height: 30px;
}
div.companyName {
    float: left;
    display: inline-block;
    width: 60px;
}
div.comContent {
    float: left;
    color: #000;
    margin-left: 5px;
    display: inline-block;
}
div.businessPer {
    width: 262px;
    background-color: #ffffff;
    display: inline-block !important;
    margin-left: 50px;
    margin-top: 30px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 3px #aaaaaa;
}
div.businessPer:nth-child(3n-1) {
    margin-left: 0;
}
div.businessPer p{
    padding-left: 25px;
}
p.perName {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #346e6e;
}
button.changeData,button.changePassword,button.subChange {
    width: 105px !important;
    height: 40px !important;
    cursor: pointer;
    position: relative;
    left: 30%;
    margin-top: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #1fbba6;
    border: none;
    border-radius: 5px;
}
button.changePassword {
    left: 35%;
}
input.changePassword {
    left: 35%;
}
/*分公司信息修改页面*/
div.dataChange {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    color: #0a57a3;
}
div.dataChange p {
    line-height: 48px;
}
div.dataChange input {
    width: 210px;
    height: 32px;
}
div.dataChange input,div.dataChange textarea {
    margin-left: 10px;
}
div.dataChange span.changeName {
    display: inline-block;
    width: 75px;
}
/*分公司密码修改页面*/
/*我的账号密码修改*/
div.passWord {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    color: #0a57a3;
}
div.passWord p {
    line-height: 48px;
}
div.passWord input {
    width: 210px;
    height: 32px;
}
div.passWord input {
    margin-left: 10px;
}
div.passWord span.passwordName {
    display: inline-block;
    width: 75px;
}
input.finashChange,input.reset {
    width: 120px !important;
    height: 44px !important;
    cursor: pointer;
    position: relative;
    left: 30%;
    margin-top: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #1fbba6;
    border: none;
    border-radius: 5px;
}
input.reset {
    left: 35%;
    background-color: #d6d9d9;
}
